* {
  padding: 0;
  margin: 0;
  border: 0;
}
@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 900;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes imageFadeIn {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
body {
  font-family: "Paperlogy-8ExtraBold";
}
.animation-container {
  animation: fadeIn 0.8s ease-out forwards;
  opacity: 0;
}
.image-animation {
  animation: imageFadeIn 2s ease-out forwards;
  opacity: 1;
}
h1 {
  margin: 16px 0px auto auto;
  text-align: center;
}
hr {
  border: 1px solid black;
}

p {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.hr-container {
  text-align: center;
}
.hr-center {
  width: 50%;
}
.sub-title {
  margin-left: 15%;
}
.box {
  width: 120px;
  height: 100px;
  margin: 10px 10px 10px 1px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}
.sub-box {
  margin-left: 10px;
}
.box-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.language {
  display: flex;
  align-items: center;
  width: auto;
}
.technology {
  display: flex;
  align-items: center;
  width: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 80px;
  height: auto;
  margin-left: 10px;
  margin-right: 20px;
  aspect-ratio: 1;
  object-fit: contain;
}

#app > a {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}
